*{
    margin: 0px;
    padding: 0px;
}
.heading{
    width: 460px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: -100px;
    margin-left: 470px;
    color:rgb(48, 40, 40);
}
.body{
    width: 400px;
    height: 430px;  
    background-color: rgb(40, 36, 36);
    margin-top: 150px;
    margin-left: 500px;
}
.display{
    width: 400px;
    height: 100px;
    background-color: rgb(67, 60, 60);
    
    font-size: 2rem;
    color: rgb(216, 211, 211);
}
#result{
    width: 400px;
    height: 100px;
    background-color: rgb(67, 60, 60);
    text-align: right;
    
    font-size: 2rem;
    color: rgb(216, 211, 211);
}


.btn{
    width: 150px;
    height: 65px;
   
}
